.button {
  font: inherit;
  border: 1px solid #212529;
  background: #212529;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #212529;
  border-color: #212529;
}

.button:focus {
  outline: none;
}
